<ion-view view-title="Study Place" ng-init="getData()">
  <ion-content class="study-place-main-container">
    <!-- <buton class="button" ng-click="getData()">Test</buton> -->
    <!-- <p>Test: {{firstname}}</p> -->
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right study-place-container" ng-repeat="location in locations" type="item-text-wrap" href="#/tab/study-place/{{location.id}}">
        <img ng-src="{{static + location.images[0]}}">

        <div class="study-place-left-div">
          <h2>{{location.name}}</h2>
          <h3>{{location.type}}</h3>
          <p ng-if="location.hasSeatingPlan == true">Seating plan available</p>
        </div>

        <div class="study-place-right-div">
          <h1>{{location.density}}%</h1>
          <p>{{location.occupied}}/{{location.capacity}}</p>
        </div>

        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
