<ion-view view-title="Event" ng-init="getData()">
  <ion-content class="event-main-container">
      <div class="event-detail-container" ng-repeat="event in events" >
        <div class="evernt-slider-container">
          <img class="event-slider-img" ng-src="{{static + event.images[0]}}">
        </div>
        <div class="evernt-slider-container">
          <div class="event-slider-left-div">
            <h5>{{event.name}}</h5>
            <h6>{{event.location}}</h6>
            <h6>{{event.eventType}}</h6>
          </div>
          <div class="event-slider-right-div">
            <h1>{{event.crowd}}</h1>
            <h6>PEOPLE ARE HERE</h6>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
